html,body{
    margin:0;
    width:100%;
    height:100%;
    background:#333;
}
/*隐藏百度logo*/
.anchorBL {
    display:none;
}
#map{
    position:absolute;
    width:100%;
    height:100%;
    opacity:0;
}
#tableCon{
    position:absolute;
    border:1px solid rgba(20,255,255,0.15);
    margin-left:15px;
    margin-top:15px;
    width:300px;
    color:#fff;
    background-color:rgba(68,123,175,0.75);
    opacity:0;
}
.tl_border {
    width: 14.5px;
    height: 14.5px;
    position: absolute;
    top: -4px;
    left: -4px;
    border-left: 2px solid rgba(20,255,255,0.75);
    border-top: 2px solid rgba(20,255,255,0.75);
    pointer-events: none;
}
.tr_border {
    width: 14.5px;
    height: 14.5px;
    position: absolute;
    top: -4px;
    right: -4px;
    border-right: 2px solid rgba(20,255,255,0.75);
    border-top: 2px solid rgba(20,255,255,0.75);
    pointer-events: none;
}
.bl_border {
    width: 14.5px;
    height: 14.5px;
    position: absolute;
    bottom: -4px;
    left: -4px;
    border-left: 2px solid rgba(20,255,255,0.75);
    border-bottom: 2px solid rgba(20,255,255,0.75);
    pointer-events: none;
}
.br_border {
    width: 14.5px;
    height: 14.5px;
    position: absolute;
    bottom: -4px;
    right: -4px;
    border-right: 2px solid rgba(20,255,255,0.75);
    border-bottom: 2px solid rgba(20,255,255,0.75);
    pointer-events: none;
}

#tableHeader {
    width:100%;
    height:24px;
    background-color:none;
/*    border-bottom:1px solid rgba(20,255,255,0.5);*/
    cursor:pointer;
}
#infoTableHeader {
    margin-top:5px;
    width:100%;
    height:22px;
    background-color:none;
    border-top:1px solid rgba(20,255,255,0.5);
    cursor:pointer;
}
#table {
    font-size:12px;
    font-family:"微软雅黑";
    width:100%;
    height:307px;
}
#infoTable {
    font-size:13px;
    font-family:"微软雅黑";
    width:100%;
    height:0px;
}
#tableHeadText, #infoTableHeadText {
    float:left;
    margin-left:4px;
    margin-top:3px;
    font-size:13px;
}
#tableOpenIcon, #infoTableOpenIcon {
    float:right;
    height:15px;
    margin-right:5px;
    margin-top:2px;
    color:rgba(20,255,255,1);
}
#sectionsTree {
    width:100%;
    overflow-y:auto;
}
.info_window_content {
    position:absolute;
    left:50px;
    padding:5px;
    background-color:rgba(68,123,175,0.75);
    border:1px solid rgba(20,255,255,0.15);
    pointer-events:none;
}
.temp_window_content {
    position:absolute;
    left:50px;
    top:210px;
    padding:5px;
    background-color:rgba(68,123,175,0.75);
    border:1px solid rgba(20,255,255,0.15);
}
.noselect, #tableCon, #infoTableHeader, #infoTable {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
    not supported by any browser */
}
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/  
::-webkit-scrollbar {  
    width: 10px;  /*滚动条宽度*/
    height: 10px;  /*滚动条高度*/
}  

/*定义滚动条轨道 内阴影+圆角*/  
::-webkit-scrollbar-track {  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);  
    border-radius: 5px;  /*滚动条的背景区域的圆角*/
    background-color: rgba(38,93,145,0.5);/*滚动条的背景颜色*/  
}  

/*定义滑块 内阴影+圆角*/  
::-webkit-scrollbar-thumb {
    border-radius: 5px;  /*滚动条的圆角*/
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);  
    background-color: rgba(20,255,255,0.75);  /*滚动条的背景颜色*/
} 
::-webkit-scrollbar-thumb:hover {
    border-radius: 5px;  /*滚动条的圆角*/
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);  
    background-color: rgba(20,255,255,1);  /*滚动条的背景颜色*/
} 
.chart {
    position:absolute;
    margin-right:20px;
    width:24px;
    height:24px;
    background:url(../assets/images/chart.svg) no-repeat center center;
}
.chartPreBtn {
    display:none;
    position:absolute;
    left:0px;
    top:50%;
    width:24px;
    height:24px;
    background:url(../assets/images/pre_btn.svg) no-repeat center center;
}
.chartNextBtn {
    display:none;
    position:absolute;
    right:0px;
    top:50%;
    width:24px;
    height:24px;
    background:url(../assets/images/next_btn.svg) no-repeat center center;
}
.chart:hover {
    cursor:pointer;
    float:left;
    width:24px;
    height:24px;
    background:url(../assets/images/chart_over.svg) no-repeat center center;
}
.chartPreBtn:hover {
    cursor:pointer;
    position:absolute;
    left:0px;
    top:50%;
    width:24px;
    height:24px;
    background:url(../assets/images/pre_over_btn.svg) no-repeat center center;
}
.chartNextBtn:hover {
    cursor:pointer;
    position:absolute;
    right:0px;
    top:50%;
    width:24px;
    height:24px;
    background:url(../assets/images/next_over_btn.svg) no-repeat center center;
}

.init-loading {
    position:fixed;
    width:100%;
    height:100%;
    background:rgba(0,0,0,1) url(../assets/images/loading.svg) no-repeat center center;
}
.BMap_scaleCtrl div.BMap_scaleTxt {
    font-weight:bold;
    text-shadow:#fff 1px 0 0,#fff 0 1px 0,#fff -1px 0 0,#fff 0 -1px 0;
    -webkit-text-shadow:#fff 1px 0 0,#fff 0 1px 0,#fff -1px 0 0,#fff 0 -1px 0;
    -moz-text-shadow:#fff 1px 0 0,#fff 0 1px 0,#fff -1px 0 0,#fff 0 -1px 0;
}
    